.content-col-main {
   float:left;
   width:67%;
}

.content-col-side {
   float:right;
   width:31%;
   margin-right: 5px;
}

img { /* Makes sure your images stay within their columns */
   max-width: 100%;
   width: auto;
   height: auto;
}