.content-col-main {
   float:left;
   width:66%;
}

.content-col-side {
   float:right;
   width:29%;
}

img { /* Makes sure your images stay within their columns */
   max-width: 100%;
   width: auto;
   height: auto;
}